{{img-wrap src=model.image.url alt="Landscape"}}

<div class='juego-overlay'>
  <div class='juego-title'>
    {{model.title}}
  </div>
  <a class='btn btn-success' href='http://104.131.245.133:9841/uploads/roms/{{model.file.filename}}'>Instalar</a>
</div>
