{{img-wrap src=model.image alt="Landscape"}}
<div class='juego-overlay'>
  <div class='juego-title'>
    {{model.title}}
  </div>
  <button class='btn btn-success' {{action "run"}}>Jugar</button>
</div>
