body {
  padding: 10px;
}


.juego {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 0 5px black;
  margin: 10px;
  padding: 2px;
}

.juego img {
  width: 100%;
  height: auto;
}


.juego-title {
  position: absolute;
  left: 11px;
  top: 14px;
}

.juego-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: right;
  background-color: rgba(44, 44, 44, 0.72);
  padding: 5px;
  border-top: 1px solid black;
}







.spin {
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sacao-tasks {
  margin: 10px;
}

.navbar-brand img {
  display: inline !important;
  margin-top: -7px;
  margin-left: -3px;
}

.alert {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sacao-updates {
  display: inline;
}


.modal-content {
  background-color: white;
  margin: 2em;
  color: black;
  padding: 10px;
}
