[Desktop Entry]
Version=1.0
Name=sacao
Comment=Comment
Exec=/usr/bin/sacao
Terminal=false
Type=Application
Icon=sacao
Categories=GNOME;GTK;Huayra;Network;
