
<div class="row">
  <div class="col-xs-3"></div>

  <div class="col-xs-9">
    <h1>Acerca de ...</h1>
  </div>
</div>

<div class="row">

  <div class="col-xs-3">
      <img src="images/icon.png" alt="" />
  </div>

  <div class="col-xs-9">

    <p>
      <strong>Sacao</strong> es un lanzador de juegos dise침ado para revivir
      momentos cl치sicos de la era de los videojuegos.
    </p>

    <p>
      La aplicaci칩n permite descargar y jugar juegos de los a침os 80 y 90s, gracias
      al emulador de arcades MAME, y el trabajo de inumerables coleccionistas
      de roms.
    </p>
  </div>

</div>


  <button class='btn btn-success' {{action 'testDownload'}}>Test download</button>
