<div class="modal-content">
  <button class="float-right close-alt btn btn-danger" {{action 'closeModal'}}>x</button>

  <h1>Preguntas frecuentes</h1>

    <p>Esta es una lista de las principales
      preguntas que se originan los usuarios
      de sacao:</p>

  <h3>Quiero más juegos, ¿Cómo hago para incluir nuevos?</h3>

    <p>Tienes que pulsar la opción <em>Instalar</em> del menú, esa
      es la única forma de instalar juegos, no se pueden instalar
      de forma manual por otro medio.</p>

  <h3>¿Cuándo se publican juegos nuevos?</h3>

    <p>Se publican juegos cada 10 días aproximadamente ...</p>


  <h3>¿Que licencia tiene este software?</h3>

    <p>Sacao es de dominio público, tienes todos los derechos
      que quieras sobre él. Los juegos, en cambio, dependen
      de las licencias de sus respectivos productores.</p>

</div>

<div class="modal_wrapper-alt">
  <section class="modal">
    test
  </section>
</div>
