<div class="modal-content">
  <button class="close-alt" {{action 'closeModal'}}>Close</button>
  <h1>Modal example</h1>

  <p>
    pasdpasdpasdp
  asd
  as
  das
  d
  </p>

  <p>asdasdasd</p>
</div>

<div class="modal_wrapper-alt">
  <section class="modal">
asdasdsa
  </section>
</div>
