<h1>Configuración</h1>

<p>Desde aquí se pueden cambiar las preferencias
  generales de la aplicación.</p>


<form>

  <div>

    {{#if borrando}}
      <button disabled class='btn btn-danger'><i class="glyphicon glyphicon-refresh spin"></i> Limpiando ...</button>
    {{else}}
      <button {{action 'clear'}} class='btn btn-danger'>Limpiar Base de datos</button>
    {{/if}}

    <button {{action 'loadFixture'}} class='btn btn-success'>Cargar juegos de ejemplo</button>

  </div>

</form>





{{outlet}}
