<h1>Tareas</h1>

<div>
  <button class='btn btn-warning' {{action 'clear'}}>Limpiar tareas finalizadas</button>
</div>

<div class='sacao-tasks'>
  {{#each model as |task|}}
    {{#sacao-task model=task}}{{/sacao-task}}
  {{else}}
    <p>No hay tareas pendientes por realizar...</p>
  {{/each}}
</div>
